---
import Layout from "@layouts/Layout.astro";
import { SITE, HOME } from "@consts";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={ HOME.TITLE } description={ HOME.DESCRIPTION } cover="/blog-placeholder-1.jpg">
    <div class="mx-auto max-w-screen-lg px-6">
        <h1 class="animate font-bold text-black dark:text-white tracking-tight mb-10 text-3xl">
            Latest News
        </h1>
        <div class="space-y-16">
            <section class="animate space-y-6">
                <ul class="not-prose flex flex-col gap-4">
					{
						blog.map((post) => (
                                <li>
                                    <Card entry={ post }/>
                                </li>
						))
					}
                </ul>
            </section>
        </div>
    </div>
</Layout>
