---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
	title: string;
	description: string;
	cover: string;
};

const {title, description, cover} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <Head title={ `${ title } — ${ SITE.TITLE }` } description={ description } cover={ cover }/>
</head>
<body>
<Header/>
<main>
    <slot/>
</main>
<Footer/>
<PageFind/>
</body>
</html>
